<a href="https://colab.research.google.com/github/fahadfakrul/Python-1.0/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

while loop

In [1]:
# Initialize offset
offset = 8

# Code the while loop
while offset > 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [2]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset = offset - 1
    else :
      offset = offset + 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

for loop

In [3]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas :
    print(area)

11.25
18.0
20.0
10.75
9.5

In [4]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room "+str(index)+": "+ str(a))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [5]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index +1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [6]:
# house list of lists
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

# Build a for loop from scratch
for room in house:
    name, area = room
    print("the "+ name + " is "+ str(area)+" sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [7]:
for room in house:
    name, area = room
    print(f"The {name} is {area} sqm")

The hallway is 11.25 sqm
The kitchen is 18.0 sqm
The living room is 20.0 sqm
The bedroom is 10.75 sqm
The bathroom is 9.5 sqm

Loop Data Structures

In [8]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

# Iterate over europe
for key, value in europe.items() :
    print("the capital of "+ key+ "is " +value)

the capital of spainis madrid
the capital of franceis paris
the capital of germanyis berlin
the capital of norwayis oslo
the capital of italyis rome
the capital of polandis warsaw
the capital of austriais vienna

In [9]:
# # Import numpy as np
# import numpy as np

# # For loop over np_height
# for height in np_height:
#     print(str(height) + " inches")

# # For loop over np_baseball
# for data in np.nditer(np_baseball) :
#     print(data)

In [16]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 1)

# Iterate over rows of cars
for lab, row in cars.iterrows() :
    print(lab)
    print("--------")
    print(row)

US
--------
Unnamed: 0                NaN
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
--------
Unnamed: 0            NaN
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
--------
Unnamed: 0        NaN
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
--------
Unnamed: 0        NaN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
--------
Unnamed: 0         NaN
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
--------
Unnamed: 0          NaN
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
--------
Unnamed: 0        NaN
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [15]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 1)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row['cars_per_cap']))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [18]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 1)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows() :
     cars.loc[lab , "COUNTRY"] = row["country"].upper()


# Print cars
print(cars)

     Unnamed: 0  cars_per_cap        country  drives_right        COUNTRY
US          NaN           809  United States          True  UNITED STATES
AUS         NaN           731      Australia         False      AUSTRALIA
JAP         NaN           588          Japan         False          JAPAN
IN          NaN            18          India         False          INDIA
RU          NaN           200         Russia          True         RUSSIA
MOR         NaN            70        Morocco          True        MOROCCO
EG          NaN            45          Egypt          True          EGYPT

In [20]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 1)

# Use .apply(str.upper)

cars["COUNTRY"] = cars["country"].apply(str.upper)

print(cars)

     Unnamed: 0  cars_per_cap        country  drives_right        COUNTRY
US          NaN           809  United States          True  UNITED STATES
AUS         NaN           731      Australia         False      AUSTRALIA
JAP         NaN           588          Japan         False          JAPAN
IN          NaN            18          India         False          INDIA
RU          NaN           200         Russia          True         RUSSIA
MOR         NaN            70        Morocco          True        MOROCCO
EG          NaN            45          Egypt          True          EGYPT